.cache
.git
.github
.playwright-mcp
.scratch
.turbo
.vscode

.env
.env.*
!.env.example

Dockerfile
docker-compose*.yml

android
apps/expo/.expo
apps/expo/android
apps/expo/ios
apps/expo/test-results
apps/nextjs/.next
apps/nextjs/.turbo
apps/nextjs/test-results

node_modules
**/node_modules
**/.cache
**/.next
**/.turbo
**/coverage
**/dist
**/test-results

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
